.flash {
  position:fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  width: max-content;

  &__message {
    animation: appear-then-fade 2s both;
    border-radius: 999px;
    &__notice {
      color: skyblue;
    }
    &__error {
      color: lightcoral;
    }
  }


}